* {
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: Cabin;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: inherit;
}

ul,
ul li {
  list-style: none;
  margin-bottom: 5px;
}

/* ____________________________________________________________________ */

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
  min-height: 100px;
  width: 100%;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.sections {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.left-section {
  background-color: rgb(216, 216, 241);
  min-height: 100px;
  padding: 30px 20px;
}

.right-section {
  background-color: rgb(248, 240, 226);
  min-height: 100px;
}

.img {
  max-height: 400px;
  max-width: 300px;
}

/* _______________________________________________________________________ */

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  padding-bottom: 15px;
  margin-bottom: 60px;
}

.profile__title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 10px;
}

.profile__text {
  font-size: 25px;
}

.profile__img {
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 15px;
}

.contacts {
  margin-bottom: 50px;
}

/* _______________________________________________________________________ */

.title__text {
  font-size: 22px;
}

.contacts__item {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 5px 0px;
}

.icon {
  width: 28px;
  height: 28px;
  margin-right: 10px;
}

/* _______________________________________________________________ */

.inner {
  padding: 80px 30px 50px 60px;
}

.block {
  margin-bottom: 50px;
}

.block__title {
  border-bottom: 0.1rem solid whitesmoke;
  text-transform: uppercase;
  font-size: 21px;
}

.block__text {
  font-weight: 400;
  font-size: 21px;
}

.block__text-education {
  font-size: 20px;
}
/* _______________________________________________________ */

.percent {
  position: relative;
  width: 70%;
  height: 6px;
  background-color: rgb(233, 179, 241);
  display: block;
  margin: 7px 0px;
}

.percent__filled {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: rgb(152, 19, 224);
}

/* _________________________________________________________ */

.code {
  background: rgb(234, 229, 229);
  padding: 20px 0 20px 30px;
}

/* ____________________________________________________________ */

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(185, 183, 183);
  padding: 0px 15px;
}

.link-github {
  display: flex;
  align-items: center;
}

.icon-rs {
  width: 45px;
}
