* {
  box-sizing: border-box;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ul li {
  list-style: none;
}

body {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* ____________________________________________________________________ */

.header {
  min-height: 90px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background: #0c0c0e;
}

.menu__list {
  display: flex;
  justify-content: space-between;
}

.icon {
  margin: 34px 26px 29px 40px;
}

.menu__item:not(:last-child) {
  margin-right: 30px;
}

.header__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-family: Forum;
  margin-left: 20px;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.02em;
  text-align: left;
}

/* _________________________________________________________ */

.welcome {
  margin-bottom: 20px;
}

/* __________________________________________________________ */

main {
  background-image: url();
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.textblock {
  text-align: center;
}

.title {
  color: #0c0c0e;
  font-family: Forum;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  font-weight: 400;
  margin-bottom: 10px;
  /* border-bottom: 1px solid #0c0c0e; придумать что-нибудь с чертой */
}

.subtitle {
  color: #000000;
  margin-top: 50px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
}

/* ____________________________________________________________ */

.about__slider {
  margin: 20px 20px 40px 20px;
  display: flex;
  justify-content: space-between;
}

.buttons {
  text-align: center;
  margin-bottom: 30px;
}

.slider-buttom {
  width: 16px;
  height: 16px;
  background: #000000;
  border-radius: 50px;
  border: none;
}
/* сделать что-то с кнопками!!! */

.slider-buttom--active {
  background: #bb945f;
}

/* ________________________________________________________________ */

.favorites__title {
  text-align: center;
}

/* что-то сделать с расстояние у радиокнопок */
.favorites__menu-item {
  padding-left: 10px;
}

.favorites__menu-text {
  margin-bottom: 40px;
}

.favorites__menu-list {
  max-width: 700px;
  display: flex;
  justify-content: space-between;
}
